; env vars override anything in ~/.config.edn which overrides anything in here.
; chmod go-rwx ~/.config.edn.
{:user-cfg #include #join [#env HOME "/.config.edn"]
 :db {:url #join ["jdbc:postgresql://" #or [#env PG_DB_NAME ^:ref [:user-cfg :db :db-name]]
                  #join ["?ApplicationName=" ^:ref [:client-id]]]
      :user #or [#env PG_USER ^:ref [:user-cfg :db :user]]
      :password #or [#env PG_USER_PASSWORD ^:ref [:user-cfg :db :password]]}
 :timbre-level #or [#env TIMBRE_LEVEL #profile {:dev :debug, :test :debug, :prod :info}]
 :bootstrap-servers #or [#env BOOTSTRAP_SERVERS
                         ^:ref [:user-cfg :kafka :bootstrap-servers]
                         #profile {:dev "localhost:9092,localhost:9093,localhost:9094"
                                   :prod "kafkabroker01.cec.lab.emc.com:9092,kafkabroker02.cec.lab.emc.com:9092,kafkabroker03.cec.lab.emc.com:9092"}]
 :topic #or [#env TOPIC "uS-core-events"]
 :auto-commit #or [#env AUTO_COMMIT true]
 :hb-topic #or [#env HB_TOPIC "uS-heartbeats"]
 :client-id #or [#env CLIENT_ID "uS-core"]
 :group-id #join [^:ref [:client-id] #profile {:dev "-cons-group-dev" :test "-cons-group-test" :prod "-cons-group"}]
 ;:max-log-size-bytes
 ;:max-log-files
}
