# See: org.apache.kafka.clients.consumer class for details. 
#   E.g.: https://kafka.apache.org/20/javadoc/org/apache/kafka/clients/consumer/ConsumerConfig.html
bootstrap.servers=10.1.3.6:9092,10.1.3.10:9092
enable.auto.commit=true
partition.assignment.strategy=org.apache.kafka.clients.consumer.RoundRobinAssignor
client.id=uS-core-events-mirror-consumer
group.id=uS-core-events-mirror-consumer-group
